.container {
  display: flex;
  padding: 32px;
  gap: 16px;
  background-color: lightblue;
  border: 5px solid blue;
  height: 9rem;
}

.item {
  background-color: peachpuff;
  border: 5px solid salmon;
  flex: 1;
  padding: 4px;
}

.display-flex {
  display: flex;
}

.item-2 {
  background-color: pink;
  border: 5px solid red;
  flex: 1;
  padding: 10px;
}

.second-item {
  padding: 10px;
}

.primary-container {
  background-color: rgb(206, 235, 206);
  border: 5px solid green;
  padding: 36px;
}

.container-2 {
  display: flex;
  gap: 24px;
}

.item-body {
  flex: 1;
  background-color: rgb(227, 168, 178);
  border: 5px solid rgb(182, 0, 0);
  margin: 45px 0;
  height: 20rem;
}

.container-2-1 {
  display: flex;
  gap: 24px;
  flex-direction: column;
  flex: 1;
}

.item-body-2 {
  flex: 1;
  background-color: rgb(227, 168, 178);
  border: 5px solid rgb(182, 0, 0);
  margin: 45px 0 0 0;
}

.item-body-3 {
  flex: 1;
  background-color: rgb(227, 168, 178);
  border: 5px solid rgb(182, 0, 0);
  margin: 0 0 45px;
}

.item-footer {
  background-color: rgb(231, 206, 248);
  border: 5px solid rgb(127, 0, 211);
  flex: 1;
  padding: 4px;
}

.item-footer-container {
  flex: 1;
  gap: 16px;
}

.item-footer-2 {
  background-color: peachpuff;
  border: 5px solid salmon;
  flex: 1;
  padding: 4px;
}
